<!-- Output area for this code -->
<div id="navbar-output">

</div>

<!-- A handlebars template for a basic navbar (compete, host, etc.) -->
{%raw%}
<script id="navbar-template" type="text/x-handlebars-template">

</script>
{%endraw%}

<!-- Code to render the template -->
{%raw%}
<script>
    const navbarSource = document.getElementById('navbar-template').innerHTML;
    const navbarTemplate = Handlebars.compile(navbarSource);
    const navbarContext = {}; // Change context to relevant template variables
    const navbarHtml = navbarTemplate(navbarContext);
    document.getElementById('navbar-output').innerHTML += navbarHtml; // Probably look into a better way of doing this?
</script>
{%endraw%}

<!-- Styling for this block of code-->
<style></style>
