<!-- Output area for this code -->
<div id="tabs-master">
    <div id="tabs-mininav">{% include "compete/includes/tabs/mininav.html" %}</div>
    <div id="tabs-output">
        <div class="description">{% include "compete/includes/tabs/description.html" %}</div>
        <div class="tests d-none">{% include "compete/includes/tabs/tests.html" %}</div>
    </div>
</div>

<!-- A handlebars template to display info about the problem (e.g. description, testcases, etc.)-->
{%raw%}
<script id="tabs-template" type="text/x-handlebars-template">
</script>
{%endraw%}

<!-- Code to render the template-->
{%raw%}
<script>
    const tabsSource = document.getElementById('tabs-template').innerHTML;
    const tabsTemplate = Handlebars.compile(tabsSource);
    const tabsContext = {}; // Change context to relevant template variables
    const tabsHtml = tabsTemplate(tabsContext);
    document.getElementById('tabs-output').innerHTML += tabsHtml; // Probably look into a better way of doing this?
</script>
{%endraw%}

<!-- Styling for this block of code-->
<style>
    #tabs-master {
        display: flex;
        flex-grow: 1;
        border: 4px solid #444444;
        border-radius: 8px;
        background-color: #2b2b2b;
        /* padding: 2vh; */
    }
</style>
